<%- include('header'); -%>
<div class="container">
    <p>Set Messenger Profile of Page <%= pageId %></p>
    <p>Set Get Started postback: <%= getStarted %></p>
    <p>Set Greeting text: <%= greeting %></p>
    <p>Set Persistent Menu <%= menu %></p>
</div>

<%- include('footer'); -%>